*.txt
*.sql
*.md
*.cmd
*.lcl
*.ytd
*.ydd
*.meta
*.yft
*.xml
*.ymap
*.ydr
*.ytd
*.zip
*.rar
*.ytd
*.ymf
*.ytyp
*.rpf
*.dds
*.ini
*.ymt
*.ybn
*.gfx
*.ybn
*.odr
*.obn
*.ycd

[assets]/
[assets]/*
[assets]/**
any/
any/**
any/*